.myCard{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.45); 
    padding: 0;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin: 35px;
    background-color: white;
    color: black;
    width: 20%;
    .card-img-top{
        border-bottom: solid rgb(196, 196, 196) 1px;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        height: 12em;
    }
    .projectCard .buttonContainer{
        position: absolute;
        bottom: 3%;
    }
    .card-body p{
        color: black;
    }
    .card-body a{
        color:white;
        margin: 5px;
        width: 50%;
        font-size: larger;
        font-weight: 600;
        transition: filter 0.15s ease-in-out;
        
    }
}
//linear-gradient(35deg, #12829e, #8434c5)

.card-body{
    display: block;
    height: 25vh;
}

.CardButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
    height: 15vh;
    justify-content: center;
    

    a{
        color:white;
        margin: 5px;
        width: 50%;
        font-size: larger;
        font-weight: 600;
        transition: filter 0.15s ease-in-out;
        
        
        
        
    }
    a:nth-of-type(3n + 1){
        background: rgba(66,146,255,1);

    }
    a:nth-of-type(3n + 2){
        background: rgba(80,86,255,1);

    }
    a:nth-of-type(3n + 3){
        background: rgb(116,15,231);
    }
    .trello{
        background:rgb(61, 61, 95) !important;
    }
    a:hover{
        color: white;
        filter: brightness(125%);
    }
    .btnTwo{
        background: rgba(80,86,255,1) !important;

    }
}

.projectCardContainer .row{
    display: flex;
    justify-content: center;
}
.projectCardContainer{
    background-color: aliceblue;
    h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-top: 40px;
        font-size: 4em;
        font-weight: 600;
    }
}





@media only screen and (max-width: 1400px) {
    .myCard{
        margin: 0px;
        margin-left: 5%;
        width: 40%;
        margin-bottom: 40px;
    }
  }

@media only screen and (max-width: 900px) {
    .myCard{
        margin: 0px;
        margin-left: 15%;
        width: 70%;
        margin-bottom: 40px;
    }
    .cardContainer .row{
        display:initial;
        justify-content: initial;
    }
  }

@media only screen and (max-width: 700px) {
    .myCard{
        margin: 0px;
        margin-left: 0%;
        width: 90%;
        margin-bottom: 40px;
        height: 600px;
    }
    .CardButtons{
    height: 25vh;
    }
    .cardContainer .row{
        display:initial;
        justify-content: initial;
    }
  }

  @media only screen and (max-width: 300px) {
    .myCard{
        margin: 0px;
        margin-left: 0%;
        width: 90%;
        margin-bottom: 40px;
        height: 700px;
    }
    .CardButtons{
    height: 25vh;
    }
    .cardContainer .row{
        display:initial;
        justify-content: initial;
    }

    .CardButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
        height: 75vh;
        justify-content: center;

        a{
            color:white;
            margin: 5px;
            width: 80%;
            font-size: larger;
            font-weight: 600;
            transition: filter 0.15s ease-in-out;
        }
    }    
  }

  @media only screen and (max-width: 420px) {
    .myCard{
        margin: 0px;
        margin-left: 0%;
        width: 90%;
        margin-bottom: 40px;
        height: 600px;
    }
    .CardButtons{
    height: 25vh;
    }
    .cardContainer .row{
        display:initial;
        justify-content: initial;
    }

    .CardButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
        height: 20vh;
        justify-content: center;

        a{
            color:white;
            margin: 5px;
            width: 80%;
            font-size: larger;
            font-weight: 600;
            transition: filter 0.15s ease-in-out;
        }
    }    
  }

@media only screen and (max-width: 1100px) {
    @media only screen and (max-height: 600px) {
        .myCard{
            margin: 0px;
            margin-left: 5%;
            width: 40%;
            margin-bottom: 40px;
        }
        .CardButtons{
            height: 45vh;
        }
    }
}

  @media only screen and (max-width: 601px) {
    .myCard{
        margin: 0px;
        margin-left: 0%;
        width: 90%;
        margin-bottom: 40px;
        height: 600px;
    }
    .CardButtons{
    height: 25vh;
    }
    .cardContainer .row{
        display:initial;
        justify-content: initial;
    }

    .CardButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
        height: 20vh;
        justify-content: center;

        a{
            color:white;
            margin: 5px;
            width: 80%;
            font-size: larger;
            font-weight: 600;
            transition: filter 0.15s ease-in-out;
        }
    }    
  }

  @media only screen and (max-width: 375px) and (height: 667px){
    .myCard{
        margin: 0px;
        margin-left: 0%;
        width: 90%;
        margin-bottom: 40px;
        height: 600px;
    }
    .CardButtons{
    height: 25vh;
    }
    .cardContainer .row{
        display:initial;
        justify-content: initial;
    }

    .CardButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
        height: 40vh;
        justify-content: center;

        a{
            color:white;
            margin: 5px;
            width: 80%;
            font-size: larger;
            font-weight: 600;
            transition: filter 0.15s ease-in-out;
        }
    }    
  }

  @media only screen and (max-width: 360px) and (height: 740px){
    .myCard{
        margin: 0px;
        margin-left: 0%;
        width: 90%;
        margin-bottom: 40px;
        height: 600px;
    }
    .CardButtons{
    height: 25vh;
    }
    .cardContainer .row{
        display:initial;
        justify-content: initial;
    }

    .CardButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
        height: 35vh;
        justify-content: center;

        a{
            color:white;
            margin: 5px;
            width: 80%;
            font-size: larger;
            font-weight: 600;
            transition: filter 0.15s ease-in-out;
        }
    }    
  }

  @media only screen and (max-width: 280px) and (height: 653px){
    .myCard{
        margin: 0px;
        margin-left: 0%;
        width: 90%;
        margin-bottom: 40px;
        height: 700px;
    }
    .CardButtons{
    height: 25vh;
    }
    .cardContainer .row{
        display:initial;
        justify-content: initial;
    }

    .CardButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
        height: 75vh;
        justify-content: center;

        a{
            color:white;
            margin: 5px;
            width: 80%;
            font-size: larger;
            font-weight: 600;
            transition: filter 0.15s ease-in-out;
        }
    }    
  }
