#contact-card{
    margin-top: 5%;
    width: 50%;
    background-color: white;
    height: 80%;
    box-shadow: 0px 0px 20px 10px rgba(193, 207, 231, 0.45); 
    p,h2, h3, ul, li{
        text-align: center;
        //text-align: left;
    }
    ul, li{
        list-style: none;
    }
    border-top: 4px;
    border-style: solid none none none;
    border-color: #8434c5;
    
    display: flex;
    flex-direction: column;
    
    img{
        width: 35px;
        height: 35px;
    }


    #contact-content{
        margin-top: 5%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        //margin: auto;
        //width: 50%;
        //margin-left: 17%;
        a{
            margin: 2px;
        }
        img{
            margin: 8px;
        }
    }
    #social-links{
        margin-top: 5%;
        justify-content: center;
        align-items: center;
        text-align: center;
        a{
            margin: 8px;
        }
        img{
            margin: 8px;
        }
    }
}

#email-image{
    width: 50px !important;
    height: 35px;
}


@media only screen and (max-width: 1400px) {
    #contact-card{
        a, h3{
            font-size: 0.75em;
        }
        h2{
            font-size: 2em;
        }
        width: 80%;
    }

  }

@media only screen and (max-width: 900px) {
    #contact-card{
        a, h3{
            font-size: 0.75em;
        }
        h2{
            font-size: 2em;
        }
        width: 80%;

    }

  }

@media only screen and (max-width: 700px) {
    #contact-card{
        a, h3{
            font-size: 0.75em;
        }
        h2{
            font-size: 2em;
        }
        width: 80%;

    }
  }