#contact-card{
    margin-top: 5%;
    width: 50%;
    background-color: white;
    height: 80%;
    box-shadow: 0px 0px 20px 10px rgba(193, 207, 231, 0.45); 
    p,h2, h3, ul, li{
        text-align: center;
    }
    ul, li{
        list-style: none;
    }
    border-top: 4px;
    border-style: solid none none none;
    border-color: #8434c5;
}