#grad2 {
    background: linear-gradient(35deg, #12829e, #8434c5);
    height: 8vh;
    width: 100vw;
    opacity: 0.95;
    position: absolute;
    z-index: -2;
    margin-top: -1%;
    padding-bottom: 4.5%;
  }

html:not([data-scroll='0']) .App-header{
    nav{
        background-color: black;
    }
}
#navContainer{
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
}

nav{
    padding-top: 1rem;

    ul{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    li{
        margin-right: 2rem;
    }
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
    margin-left: -20%;
    font-weight: 500;
    font-style: italic;
    -webkit-transition: color 0.1s ease-out;
    -moz-transition: color 0.1s ease-out;
    -o-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
    
    
}
nav a:hover {
    color: rgb(201, 201, 201);
    cursor: pointer;
}




//Underline Styling:



nav a {
    display: block;
    position: relative;
    display: flex;
    
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.125em;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

nav a:hover::after,
nav a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

li a {
    overflow: hidden;
  }
  
li a::after {
opacity: 1;
transform: translate3d(-102%, 0, 0);
}

li a:hover::after,
li a:focus::after{
transform: translate3d(-10%, 0, 0);
}

//font-size: 1em;


@media only screen and (max-width: 1400px) {
    nav a{
        font-size: 1em;
    }
  }

@media only screen and (max-width: 900px) {
    nav a{
        font-size: 1em;
    }
  }

@media only screen and (max-width: 700px) {
    nav a{
        font-size: 1em;
    }
  }